# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false
command_timeout = 1000

[character]
success_symbol = "[➜](bold green)" 
error_symbol = "[➜](bold red)" 
vicmd_symbol = "[➜](bold green)"

[package]
disabled = true

[dotnet]
symbol = ".net "

[nodejs]
symbol = "⬢ "
